<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for(@slide) do |f|%>
      <div class="form-box">
        <%= f.label :slide %>
        <%= f.file_field :slide %>
        <%= f.hidden_field :slide_cache %>
        <p style="color: red;, font-weight: bold;">※ファイルの拡張子は.pdfである必要があります</p>

        <% if @slide.persisted? && @slide.slide? %>
        <label>
          <%= f.check_box :remove_slide %>
          スライドを削除
        </label></br></br>
        <% end %>

        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %></br>

        <%= f.label :author_comment %>
        <%= f.text_field :author_comment, class: "form-control" %></br>

        <%= f.label :tag_list, "タグを記載（カンマ区切りで記載）" %></br>
        <%= text_field_tag 'slide[tag_list]', @slide.tag_list.join(',') %></br>

        <%= f.submit "投稿", class:"btn btn-success" ,style:"width: 100%; margin-top: 10px;" %>
      </div>
    <% end %>
  </div>
</div>
