<div class="show-container">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-md-offset-1">
        <div class="slide-box">
          <iframe frameborder= "0"  height= "400"  scrolling= "no"  src= "<%= @slide.slide.url %>"  style="width: 100%; height: 500px; display:inline-block; margin-bottom: 15px; border: 3px solid #666464;"  scrolling="yes" webkitallowfullscreen mozallowfullscreen allowfullscreen frameborder="no" ></iframe>
            <div class="slide-comment">
              <div class="row comment-form">
                <%= render partial: 'comments/form', locals: { comment: @comment, slide: @slide} %>
              </div>
              <div id="comments_area">
                <%= render partial: 'comments/index', locals:{comments: @comments, slide: @slide} %>
              </div>
            </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="slide-title">
          <h3><%= @slide.title  %></h3>
          <p>投稿日：<%= @slide.created_at.strftime("%y/%m/%d %p %l:%M") %></p>
        </div>
        <div class="slide-user">
          <p>投稿者：<%= @slide.user.name %></p>
        </div>
        <div class="slide-user-comment">
          <p style="text-align: center;">ーーーーー 投稿者のコメント ーーーーー</p>
          <% if @slide.author_comment? %>
            <p><%= @slide.author_comment %></p>
          <% else %>
            <p>コメントはありません</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="product-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
