<!DOCTYPE html>
<html>
<head>
  <title>Slide On Medical</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Slide On Medical", root_path, class: "navbar-brand" %>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span>メニュー</span>
  <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "スライド一覧", slides_path %></li>
                <li><%= link_to "スライドの投稿", new_slide_path  %></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="headericon glyphicon glyphicon-user" size="5"></span>
</a>
              <ul class="dropdown-menu">
                <li><%= link_to "プロフィールの編集", edit_user_registration_path %></li>
                <li><%= link_to "マイスライド", user_slide_path  %></li>
              </ul>
              </li>
              <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          <% else %>
              <li><%= link_to 'ログイン', new_user_session_path %></li>
              <li><%= link_to 'サインアップ', new_user_registration_path %></li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

<div class="main-wrapper">
  <% flash.each do |key, value| %>
       <% key = "info" if key == "notice" %>
       <% key = "danger"  if key == "alert" %>
       <%= content_tag :div, value, class: "alert alert-#{key}" %>
   <% end %>

<%= yield %>

</div>

<footer>
 <p><strong>made by T.O since 2017</strong></p>
</footer>

</body>
</html>
